#!/usr/bin/make -f
#export DH_VERBOSE = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

#override_dh_auto_configure:
#	/usr/local/bin/meson $@

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_dwz:

override_dh_makeshlibs:
	dh_makeshlibs -V "libdeepin-wlroots6 (= ${DEB_VERSION})"
